#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrap {
  display: flex;
}

.logo {
  height: 100px;
  padding: 24px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 30px #fbf3fb);
}

.logo.individual {
  height: 100px;
  width: 100px;
  color: #fff;
  font-size: 80px;
  line-height: 100px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media screen and (max-width: 850px) {
  .logo {
    height: 60px;
    padding: 10px;
  }
  .logo.individual {
    height: 60px;
    width: 60px;
    font-size: 40px;
    line-height: 60px;
  }
}
