#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrap {
  display: flex;
}

.logo {
  height: 100px;
  padding: 24px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 30px #fbf3fb);
}

.logo.individual {
  height: 100px;
  width: 100px;
  padding: 24px;
  color: #fff;
  font-size: 80px;
  line-height: 100px;
}

/*
.logo.individual:hover {
  filter: drop-shadow(0 0 30px #ff69b4);
}
*/
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
